apiVersion: v1
kind: Service
metadata:
  name: devops-demo-service
  namespace: devops-demo
  labels:
    app: devops-demo
spec:
  type: LoadBalancer
  selector:
    app: devops-demo
  ports:
  - name: http
    port: 8080
    targetPort: 8080
    protocol: TCP
  sessionAffinity: None
